* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    /**border: 2px solid red;*/
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: 2px solid blue;
}

.content-wrapper {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}


.header {
    border: 2px solid green;
}

.main-content {
    border: 2px solid yellow;
}





