@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;

}


.container {
    height: 100vh;
    width: 100vw;
    /**border: 2px solid red;*/
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/**Changes color for svg icon to white*/
.icon-color {
    filter: invert(100%) sepia(6%) saturate(91%) hue-rotate(251deg) brightness(115%) contrast(100%);
}


.sidebar {
    grid-column: 1 / 2;
    background-color: rgba(25, 146, 212);
    color: white;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 6fr;
    gap: 15px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
}

.logo > img {
    width: 40px;
}

.nav-menu, .nav-settings {
    list-style-type: none;
}

ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.nav-icons {
    width: 25px;
}



.content-wrapper {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 6fr;
}


.header {
    padding: 16px 50px;
}

.header-one {
    display: flex;
    justify-content: space-between;
}

.h1-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.h1-search > input {
    width: 500px;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: rgb(224, 224, 224);
}

.h1-bellProfile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.h1-bellProfile > img:nth-child(2) {
    width: 40px;
}

.profile-name {
    font-weight: bold;
}

.header-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.h2-profile {
    display: flex;
    align-items: center;
    gap: 10px;

}

.h2-profile > img {
    width: 60px;
}

.h2-hello-user > div {
    font-weight: bold;
}

.h2-hello-user > div:nth-child(2) {
    font-size: 1.2rem;
}

.h2-buttons {
    display: flex;
    gap: 10px;
}

.h2-buttons > button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(25, 146, 212);
    color: white;
    border: none; 
}



.main-content {
    background-color: rgba(226, 232, 240);
    padding: 30px 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.project-content {
    display: grid;
    grid-template-rows: 1fr 20fr;
    grid-template-columns: 1fr;
}

.project-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.card {
    border-left: gold 10px solid;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 2px 2px 5px grey;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.card-content {
    color: grey;
    font-size: 1rem;
}

.card-features {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.status-content {
    display: grid;
    grid-template-rows: 1fr 20fr;
    grid-template-columns: 1fr;
}

.announce-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.status-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 0.5fr 4fr;
}

.announcement-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px grey;
    padding: 20px;
}

.announce-header {
    font-size: 1rem;
    font-weight: bold;
}

.a-content {
    font-size: .9rem;
    color: grey;
}

hr {
    margin-top: 10px;
}

.trend-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.trend-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px grey;
    
}

.pfp-icons {
    width: 40px;
}

.trend-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-at {
    font-size: 1rem;
}

.project-name {
    font-size: 1rem;
    color: grey;
}










