* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    height: 100vh;
    width: 100vw;
    /**border: 2px solid red;*/
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/**Changes color for svg icon to white*/
.icon-color {
    filter: invert(100%) sepia(6%) saturate(91%) hue-rotate(251deg) brightness(115%) contrast(100%);
}


.sidebar {
    grid-column: 1 / 2;
    border: 2px solid blue;
    background-color: rgba(25, 146, 212);
    color: white;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 6fr;
    gap: 15px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
}

.logo > img {
    width: 40px;
}

.nav-menu, .nav-settings {
    list-style-type: none;
}

ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.nav-icons {
    width: 25px;
}

.side-header, .side-nav, .side-settings  {
    border: 1px solid white;
}

.content-wrapper {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}


.header {
    border: 2px solid green;
    padding: 16px 50px;
}

.header-one {
    display: flex;
    justify-content: space-between;
    border: 1px solid pink;
}

.h1-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.h1-search > input {
    width: 500px;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: rgb(224, 224, 224);
}

.h1-bellProfile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.h1-bellProfile > img:nth-child(2) {
    width: 40px;
}

.header-two {
    border: 1px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.h2-profile {
    display: flex;
    align-items: center;
    gap: 10px;

}

.h2-profile > img {
    width: 60px;
}

.h2-hello-user > div {
    font-weight: bold;
}

.h2-hello-user > div:nth-child(2) {
    font-size: 1.2rem;
}

.h2-buttons {
    display: flex;
    gap: 10px;
}

.h2-buttons > button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(25, 146, 212);
    color: white;
    border: none; 
}



.main-content {
    border: 2px solid yellow;
    background-color: rgba(226, 232, 240);
}






